references/hill-numbers_chaohill_2014.pdf
notebooks/algorithm.aux
notebooks/algorithm.fdb_latexmk
notebooks/algorithm.fls
notebooks/algorithm.log
notebooks/algorithm.synctex.gz
notebooks/algorithm.tex
